

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spark Market</title>
    <link href="/frontassets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/frontassets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/frontassets/css/prettyPhoto.css" rel="stylesheet">
    <link href="/frontassets/css/price-range.css" rel="stylesheet">
    <link href="/frontassets/css/animate.css" rel="stylesheet">
    <link href="/frontassets/css/main.css" rel="stylesheet">
    <link href="/frontassets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


    <style>


        .field-validation-error, .validation-summary-errors {
            color: red;
        }

    </style>
    @RenderSection("Styles", false)
</head><!--/head-->

<body>
    <header id="header">
        <!--header-->
        @await Component.InvokeAsync("headertop")

        @await Component.InvokeAsync("headermiddle")

        @await Component.InvokeAsync("headerbottom")


    </header><!--/header-->
    @RenderSection("Slider", false)

    <section>
        <div class="container">

            <div class="row">
                <div class="col-sm-3">



                    <div class="left-sidebar">


                        @* @await Component.InvokeAsync("category") *@
                        @RenderSection("Category", false)

                        @* @await Component.InvokeAsync("brand") *@
                        @RenderSection("Brand", false)

                        @* @await Component.InvokeAsync("pricerange") *@
                        @RenderSection("Pricerange", false)


                        @* render section bunda uygulanabiliyor mu? *@

                        @RenderSection("shipping", false)


                    </div>

                </div>
                @RenderBody()
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("footer")
    <script src="/frontassets/js/jquery.js"></script>
    <script src="/frontassets/js/bootstrap.min.js"></script>
    <script src="/frontassets/js/jquery.scrollUp.min.js"></script>
    <script src="/frontassets/js/price-range.js"></script>
    <script src="/frontassets/js/jquery.prettyPhoto.js"></script>
    <script src="/frontassets/js/main.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>